Fetch_the_Most_Recent_Document_from_Google_Drive.json
{
  "name": "Fetch the Most Recent Document from Google Drive",
  "nodes": [
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        100,
        500
      ],
      "id": "d9df98fe-bf03-45bd-9cb9-ed32371b7970",
      "name": "Google Docs"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        440,
        440
      ],
      "id": "46daf9a2-0d13-49c3-8272-e366888e1960",
      "name": "Wikipedia"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        700,
        440
      ],
      "id": "9dafd444-257c-4f44-9550-1dbd19dc44d4",
      "name": "Calculator"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1s1v58pqGaVha9g_evNX4UEMchzteO7CyLNp87tcKJ1Q",
          "mode": "list",
          "cachedResultName": "Docs Summarise Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1s1v58pqGaVha9g_evNX4UEMchzteO7CyLNp87tcKJ1Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1s1v58pqGaVha9g_evNX4UEMchzteO7CyLNp87tcKJ1Q/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email ": "={{ $('Google Drive ').item.json.lastModifyingUser.emailAddress }}",
            "Summarise Conetent data ": "={{ $json.message.content }}",
            "Name": "={{ $('Google Drive ').item.json.lastModifyingUser.displayName }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Email ",
              "displayName": "Email ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Summarise Conetent data ",
              "displayName": "Summarise Conetent data ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1040,
        540
      ],
      "id": "259a7fa0-4b37-453e-a730-fb2fc7bc3eb0",
      "name": "Google Sheets"
    },
    {
      "parameters": {
        "content": "## Get Latest File\n",
        "height": 260,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -320,
        180
      ],
      "id": "d5b63de6-bc9a-4e44-a9a2-85026a16aec7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "serviceAccount",
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1H8Xe2uIO0sI-QdxFsDH0Yg_w9RaPOoD_",
          "mode": "list",
          "cachedResultName": "yashdata",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1H8Xe2uIO0sI-QdxFsDH0Yg_w9RaPOoD_"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -240,
        260
      ],
      "id": "d00720d9-a344-48c9-9c31-7c4391ecda70",
      "name": "Google Drive ",
      "notesInFlow": true,
      "notes": "Received the doc"
    },
    {
      "parameters": {
        "content": "## Get Document Content\n",
        "height": 260,
        "width": 260,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        20,
        400
      ],
      "id": "4e326b5d-f116-4de7-bf4b-bac11772e54d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## AI Summarization\n",
        "height": 380,
        "width": 440,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        380,
        200
      ],
      "id": "b2f25e20-0c61-4af4-b2b5-dbeb20720c3b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Store Summary in Sheet\n",
        "height": 280,
        "width": 300,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        920,
        420
      ],
      "id": "af9b81f3-b65d-4957-8471-978dc90970f2",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Summarise the below content\n {{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        460,
        280
      ],
      "id": "4cd99298-968b-4a47-bcf9-b4e006d8dab0",
      "name": "Generate Summary AI"
    },
    {
      "parameters": {
        "content": "# Google Doc Summarizer to Google Sheets\n",
        "height": 80,
        "width": 800,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "af7afd98-8707-4db6-acb0-796427f6e304",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Description\nThis workflow streamlines and automates the end-to-end process of managing recently added document files in Google Drive. It begins by identifying the most recently uploaded .doc file in a designated folder within Google Drive. The document's content is then directly retrieved and passed through an AI-powered summarization model that condenses the content into a concise and meaningful summary. Finally, the summarized content, along with relevant metadata such as the document's name, upload date, and other details, is systematically stored in a Google Sheet. This ensures easy reference, enhanced organization, and quick access to key information, making it an ideal solution for managing and summarizing large volumes of document data efficiently.",
        "width": 1280,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -260,
        760
      ],
      "id": "d0c4ae80-d120-457a-975d-7cfcb963b922",
      "name": "Sticky Note5"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Docs": {
      "main": [
        [
          {
            "node": "Generate Summary AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "Generate Summary AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Generate Summary AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive ": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Summary AI": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5761640e-1f78-4113-8495-a40af110ec01",
  "meta": {
    "instanceId": "14e4c77104722ab186539dfea5182e419aecc83d85963fe13f6de862c875ebfa"
  },
  "id": "aswQJmksAOmHmn8c",
  "tags": []
}